{% load i18n %}
<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}/{% endblock %} - Social Crowd</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link type="text/css" href="{{ STATIC_URL }}bootstrap/css/bootstrap.css" rel="stylesheet"></link>
        <link type="text/css" href="{{ STATIC_URL }}css/base.css" rel="stylesheet"></link>

        {% block extrahead %}
        {% endblock %}
    </head>

    <body>
        {% block body %}
            {% include "menu.html" %}

            {% block precont %}
            {% endblock %}

            <div class="container">
              {% include "messages.html" %}

              {% block content %}

              {% block pretop %}
              <div class="jumbotron">
                {% block top %}
                    <h1>Jumbotron heading</h1>
                    <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
                    <p><a class="btn btn-lg btn-success" href="#" role="button">Sign up today</a></p>
                {% endblock %}
              </div>
              {% endblock %}

            {% endblock %}

              <div class="footer">
                {% block foot %}
                    <!-- FOOTER -->
                    <footer>
                      <p class="text-center">
                          <a href="https://bitbucket.org/danigm/socialcrowd">{% trans "Source code" %}</a> &middot;
                          <a href="#">{% trans "Privacy" %}</a> &middot;
                          <a href="#">{% trans "Terms" %}</a>
                      </p>
                    </footer>
                {% endblock %}
              </div>

            </div>

        {% endblock %}

        <script src="{{ STATIC_URL }}js/jquery.js"></script>
        <script src="{{ STATIC_URL }}bootstrap/js/bootstrap.js"></script>

        {% block extrabody %}
        {% endblock %}
    </body>
</html>
