{% load i18n %}

<nav class="navbar navbar-default navbar-static-top navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">SocialCrowd</a>

            <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" type="button">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <div class="navbar-collapse collapse">

            <form class="navbar-form navbar-left" role="search">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="{% trans "Search" %}">
              </div>
              <button type="submit" class="btn btn-default">
                <span class="glyphicon glyphicon-search"></span>
              </button>
            </form>

            <ul class="nav navbar-nav navbar-right">
              <li>
                  <a href="{% url 'account_login' %}"> {% trans "Login / Register" %} </a>
              </li>
            </ul>

        </div>

    </div>
</nav>
