{% extends "account/base.html" %}

{% load bootstrap %}
{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <h1>{% trans "Change Password" %}</h1>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form|bootstrap }}
        <button type="submit" name="action" class="btn btn-primary">{% trans "Change Password" %}</button>
    </form>
{% endblock %}
